# spyder
.spyproject/

# app
app/client/*bkp*
app/nginx/*bkp*
app/server/*bkp*
app/server/__pycache__
app/server/*.pyc

# model
model/.ipynb_checkpoints
model/catboost_info
model/*bkp*
model/list_*.pkl
model/model_*.pkl
model/

# data
/data
data/*bkp*
data/get_data.py

# qgis
/qgis/*bkp*

# deployment
/deploy/*bkp*

# home
*bkp*
README_gcloud.md
TODO